*{
    margin: 0;
}

.div1 {
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    z-index:1;
}

.div2 {
    background-color: green;
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
    z-index: 1;
}

.div3 {
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: -1;
}

.div3:hover{
    z-index:1;
}